body {
    /*  background: linear-gradient(90deg, #af0037 0%, #d70000 43%, #ffdc00 100%);*/
    background-image: url(https://besthqwallpapers.com/img/original/102143/black-stylish-background-green-neon-lines-green-light-effects-abstract-black-background.jpg);
    background-size: cover;
}

.formulario {
    background-color: rgba(0, 0, 0, 0.597);
    width: 700px;
    border-radius: 20px;
    border-color: rgb(56, 51, 45);
}